<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Example</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .nav-item.dropdown:hover .dropdown-menu {
      display: block;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
    <nav class="navbar shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/static/SAmPAIO4VAGAS(1)-Photoroom.png" alt="Bootstrap" width="50" height="35">
        </a>
      </div>
    </nav>
    <div class="container-fluid">
      <a class="navbar-brand" href="https://sampaiodev.com">Portifólio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="https://go.hotmart.com/U92476212E?dp=1">Cursos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Redes Sociais
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://github.com/RaphaelSampaio1">GitHub</a></li>
              <li><a class="dropdown-item" href="https://www.linkedin.com/in/raphael-sampaio-52475622b/">LinkedIn</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
